APP_PORT=80
SITE_URL=http://localhost

SECRET_KEY=change-me
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_MINUTES=30

POSTGRES_DB=ai_assistent
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change-me

LLAMA_URL=http://host.docker.internal:11434/api/chat

MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=change-me
MINIO_BUCKET_NAME=user-photos
MINIO_REGION=us-east-1
